body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fdf1dc; 
  display: flex;
  justify-content: center;
  align-items: center;

}

.start-screen {
  text-align: center;
  padding: 1rem;
}

.logo-image {
  width: 50%; /* Escala proporcionalmente */
  max-width: 300px; /* Limita el tamaño máximo */
  height: 40%;
  margin: 1rem auto;
}

.start-button {
  padding: 0.8rem 1.5rem; /* Ajusta el padding para ser más adaptable */
  font-size: 1rem; 
  color: #fff;
  background-color: #003a46; 
  border: none;
  border-radius: 30px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.start-button:hover {
  background-color: #005a68; 
  transform: scale(1.05); 
}

.logo-container img {
  height: auto; 
  width: 100%; /* Usa todo el ancho disponible */
  max-width: 600px; /* Limita el tamaño máximo */
}

/* Media Queries para Responsiveness */
@media (max-width: 768px) {
  .start-button {
      font-size: 0.9rem;
      padding: 0.7rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .logo-image {
      width: 70%; /* Más pequeño en pantallas muy pequeñas */
  }

  .start-button {
      font-size: 0.8rem;
      padding: 0.6rem 1rem;
  }
}
