
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fdf3e0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .start-screen {
    text-align: center;
  }
  
 
  .logo-image {
    width: 80px; 
    height: auto;
    margin: 1rem auto;
  }
  
  .start-button {
    padding: 1rem 2rem; 
    font-size: 1.2rem; 
    color: #fff;
    background-color: #003a46; 
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .start-button:hover {
    background-color: #005a68; 
    transform: scale(1.05); 
  } 
  .logo-container img 
  {
    height:auto ; 
    width: 600px;
  }