.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    
    font-family: 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid #eee;

}
.logo{
  height: 100px;
  margin-bottom: 50px;
}

.logo-image {
    height: 150px; 
    width: 150px;
  }
  
  .notification {
    font-size: 1.8rem;
    cursor: pointer; 
    margin-top: 37px;
  }
  .pedido-image 
  {
    height: 75px; 
    width: 75px;
  }