.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    
    font-family: 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid #eee;

}
.logo{
  height: 100px;
}

.logo-image {
    height: 100px; 
    width: 100px;
  }
  
  .notification {
    font-size: 1.8rem;
    cursor: pointer;
  }
  